
@{
    ViewBag.Title = "Výroba";
}


    <div class="container body-content">
        <div class="row">

            <div class="col-md-5">@Html.ActionLink("Lisovna", "Index", "Lisovna", new { area = "UserIN" }, new { @class = "btn btn-primary btn-large btn-block" })</div>
            <div class="col-md-5">@Html.ActionLink("Konečná montáž", "IndexKonecnaMontaz", "Home", new { area = "UserIN" }, new { @class = "btn btn-primary btn-large btn-block" })</div>
            <div class="col-md-5">@Html.ActionLink("Příprava", "Indexpriprava", "Home", new { area = "UserIN" }, new { @class = "btn btn-primary btn-large btn-block" })</div>
            <div class="col-md-5">@Html.ActionLink("Hedva", "IndexHedva", "Home", new { area = "UserIN" }, new { @class = "btn btn-primary btn-large btn-block" })</div>


        </div>

    </div>