@{
    ViewBag.Title = "O aplikaci";
}
<h2>@ViewBag.Title</h2>

<p>Výrobní informační systém RKC sloužící pro podporu výroby firmy Ravensburger karton s.r.o.</p>
<p>Systém je zaměřen prozatím na výrobní halu lisovna a je stále ve vývoji. </br>
    V případě výskytu chyby mě prosím kontaktujte na emailovou adresu, nacházející na stránce Kontakt.</p>
