@model RKC_IS.DataAccess.Model.AutoMapping.ZAKAZKA

@{
    ViewBag.Title = "Ukončené zakázky";
    Layout = "~/Areas/UserIN/Views/Shared/_LayoutLisovna.cshtml";
}

    <h2>Ukončené zakázky na stroji @Model.STROJ.Nazev @Model.STROJ.Cislo</h2>

